/* All star */


/* 缓动函数 */


/* transition: all 600ms cubic-bezier(.23, 1, .32, 1);
    animation-duration: 5s; */


/* -webkit-transition: all 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035); */

*{
	margin : 0px;
	padding : 0px;
	/* animation-duration: 5s; */
	/* transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1); */
}

.FPlayer_Animation{
	transition : all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}


/* All over */


/* musicPlayerBeforeBar star */

.fplayer_panel{
	font-family : Noto Sans CJK SC, sans-serif;
	position : relative;
	/* border: solid 1px black; */
	top : 50px;
	left : 5px;
	overflow : hidden;
	/* padding: 12px; */
	/* box-sizing: border-box; */
	width : 300px;
	height : 160px;
	border-radius : 12px;
	box-shadow : 0px 0px 10px black;
}


/* musicPlayerBeforeBar over */


/* 控制面板 star */

.fplayer_control_panel_background{
	position : absolute;
	z-index : 1;
	width : 300px;
	height : 120px;
	background-color : rgb(70, 46, 124);
	background-image : url("data:image/svg+xml;utf8,<svg class=\"icon\" viewBox=\"0 0 1024 1024\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"200\" height=\"200\"><path d=\"M512 0a512 512 0 1 0 512 512 512 512 0 0 0-512-512z m378.24 448h-197.76a187.52 187.52 0 0 0-37.12-64l116.48-155.52A384 384 0 0 1 890.24 448zM576 512a64 64 0 1 1-64-64 64 64 0 0 1 64 64z m-64 384a384 384 0 1 1 152.32-736.64L541.44 323.2A147.84 147.84 0 0 0 512 320a192 192 0 1 0 180.48 256h197.76A384 384 0 0 1 512 896z\" fill=\"%23FFFFFF\"/></svg>");
	background-position : 0 10%;
	background-size : cover;
}

#FPMusicName{
	overflow : hidden;
}

#FPArtistName{
	overflow : hidden;
}

.fplayer_control_panel{
	position : relative;
	float : right;
	width : 100%;
	height : 100%;
	background-color : rgba(0, 0, 0, 0.4);
	/*background-size: 100% 100%;*/
	/*background-color: rgba(0, 0, 0, 0.4);*/
}

.fplayer_detail_panel{
	float : left;
	width : 100%;
	height : 60%;
}

.fplayer_detail_title{
	font-size : 30px;
	display : block;
	overflow : hidden;
	width : 94%;
	height : 47px;
	margin-left : 6%;
	white-space : nowrap;
	text-overflow : ellipsis;
	color : white;
}

.fplayer_detail_artist{
	font-size : 15px;
	display : block;
	overflow : hidden;
	width : 94%;
	height : 25px;
	margin-left : 6%;
	white-space : nowrap;
	text-overflow : ellipsis;
	color : #e6e6e6;
}

.fplayer_button_controller{
	float : left;
	width : 25%;
	height : 30%;
}

.fplayer_button_controller svg{
	width : 100%;
	height : 100%;
}


/* 控制面板 over */


/* 歌词 star */

.fplayer_lyric_panel{
	position : absolute;
	z-index : 1;
	bottom : 0px;
	overflow : hidden;
	width : 300px;
	height : 40px;
	transition : all 600ms cubic-bezier(0.23, 1, 0.32, 1);
	background-color : rgb(88, 67, 139);
}


.fplayer_lyric_wrapper{
	position : absolute;
	width : 100%;
	/*overflow: scroll;*/
	/*overflow: hidden;*/
	height : 100%;
	transition : transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
	text-align : center;
	color : white;
	scrollbar-width : none;
}

.fplayer_lyric_wrapper::-webkit-scrollbar{
	display : none;
}

.fplayer_lyric_wrapper p{
	font-size : 25px;
	width : 100%;
	height : 40px;
}

/* 歌词 over */


/* 列表 star */

.fplayer_list_panel{
	position : relative;
	z-index : 1;
	overflow : scroll;
	width : 100%;
	height : 100%;
	padding-top : 2px;
	padding-bottom : 2px;
	transition : transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
	transform : translateY(160px);
	background-color : rgb(70, 46, 124);
	scrollbar-width : none;
	/*padding-top: 2px;*/
}

.fplayer_list_panel::-webkit-scrollbar{
	display : none;
}

.fplayer_list_item{
	position : relative;
	display : block;
	float : left;
	/*background-color: #fff;*/
	overflow : hidden;
	width : 48%;
	height : 72px;
	margin : 1%;
	border-radius : 12px;
	background-size : cover;
	/*background-position: 0 5%;*/
	box-shadow : 0px 0px 5px #190634;
}

.fplayer_list_content{
	font-size : 20px;
	position : absolute;
	overflow : hidden;
	width : 100%;
	height : 50%;
	text-align : center;
	white-space : nowrap;
	white-space : nowrap;
	text-overflow : ellipsis;
	color : white;
	background-color : rgba(0, 0, 0, 0.30);
}


/* 列表 over */
